body {
    background-image: url('https://images.unsplash.com/photo-1528731708534-816fe59f90cb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Add this CSS to make the navbar transparent */
.navbar {
    background-color: transparent !important;
    backdrop-filter: blur(10px); /* Add a backdrop filter for a blur effect */
}

/* Add this CSS to make the navbar text white */
.navbar-brand {
    color: white; /* Set the text color to white */
}
