@{
    ViewData["Title"] = "Favorite Movie";
}

<style>
body {
        font-family: Arial, sans-serif;
        background-image: url('https://img.freepik.com/free-vector/realistic-luxury-background_23-2149354608.jpg?w=1380&t=st=1714657989~exp=1714658589~hmac=67bacb60c257982d35fad7137fa8db3eb91720d431b06fadc795e8c8de081d15');
        background-size: cover;
        background-position: center;
        color: #ffffff;
        margin: 0;
        padding: 1px;
        box-sizing: border-box;
        background-color: #f0f0f0;
    }

</style>

<section id="comp-lt8plpsw" tabindex="-1" class="Oqnisf comp-lt8plpsw wixui-section" data-block-level-container="ClassicSection">
    <div id="bgLayers_comp-lt8plpsw" data-hook="bgLayers" data-motion-part="BG_LAYER" class="MW5IWV">
        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
        <div id="bgMedia_comp-lt8plpsw" data-motion-part="BG_MEDIA" class="VgO9Yg"></div>
    </div>
    <div data-mesh-id="comp-lt8plpswinlineContent" data-testid="inline-content" class="">
        <div data-mesh-id="comp-lt8plpswinlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-kdfyrfxs" class="Vd6aQZ ignore-focus comp-kdfyrfxs" tabindex="-1" role="region">
               
            </div>
            <section id="comp-kdfwjhjs" class="comp-kdfwjhjs CohWsy wixui-column-strip">
                <div id="bgLayers_comp-kdfwjhjs" data-hook="bgLayers" data-motion-part="BG_LAYER" class="if7Vw2">
                    <div data-testid="colorUnderlay" class="tcElKx i1tH8h"></div>
                    <div id="bgMedia_comp-kdfwjhjs" data-motion-part="BG_MEDIA" class="wG8dni"></div>
                </div>
                <div data-testid="columns" class="V5AUxf">
                    <div id="comp-kdfwjhlq" class="comp-kdfwjhlq YzqVVZ wixui-column-strip__column">
                        <div id="bgLayers_comp-kdfwjhlq" data-hook="bgLayers" data-motion-part="BG_LAYER" class="MW5IWV">
                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                            <div id="bgMedia_comp-kdfwjhlq" data-motion-part="BG_MEDIA" class="VgO9Yg"></div>
                        </div>
                        <div data-mesh-id="comp-kdfwjhlqinlineContent" data-testid="inline-content" class="">
                            <div data-mesh-id="comp-kdfwjhlqinlineContent-gridContainer" data-testid="mesh-container-content">
                                <div id="comp-kdfwjhkz" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhkz wixui-rich-text" data-testid="richTextElement">
                                    <h2 class="font_0 wixui-rich-text__text" style="line-height:1.3em; text-align:center; font-size:60px;"><span style="letter-spacing:0.02em;" class="wixui-rich-text__text">HOBBIES &amp; INTERESTS</span></h2>
                                </div>
                                <div id="comp-kdfwjhl11" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhl11 wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_8 wixui-rich-text__text" style="line-height:1.9em; text-align:center; font-size:16px;"><span style="letter-spacing:0.05em;" class="wixui-rich-text__text">Exploring new hobbies and interests is something I'm passionate about. Whether it's photography, cooking, or hiking, I'm always eager to try new things and share my experiences with others.</span></p>
                                </div>
                                <div id="comp-kdfwjhlt" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhlt wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_0 wixui-rich-text__text" style="text-align:center; font-size:60px;">01</p>
                                </div>
                                <div id="comp-kdh22ls2" class="HcOXKn SxM0TO QxJLC3 comp-kdh22ls2 wixui-rich-text" data-testid="richTextElement">
                                    <h3 class="font_7 wixui-rich-text__text" style="text-align:center; font-size:22px;"><span style="letter-spacing:0.02em;" class="wixui-rich-text__text">Travel Photography</span></h3>
                                </div>
                                <div id="comp-kdfwjhlv1" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhlv1 wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_8 wixui-rich-text__text" style="line-height:1.9em; text-align:center; font-size:16px;"><span style="letter-spacing:0.05em;" class="wixui-rich-text__text">Capturing moments from my travels and sharing the stories behind each photo is something I truly enjoy.</span></p>
                                </div>
                                <div id="comp-kdfwjhly" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhly wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_0 wixui-rich-text__text" style="text-align:center; font-size:60px;">02</p>
                                </div>
                                <div id="comp-kdh227e4" class="HcOXKn SxM0TO QxJLC3 comp-kdh227e4 wixui-rich-text" data-testid="richTextElement">
                                    <h3 class="font_7 wixui-rich-text__text" style="text-align:center; font-size:22px;">
                                        <span style="letter-spacing:0.02em;" class="wixui-rich-text__text">Culinary Adventures</span>
                                    </h3>
                                </div>
                                <div id="comp-kdfwjhm0" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhm0 wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_8 wixui-rich-text__text" style="line-height:1.9em; text-align:center; font-size:16px;"><span style="letter-spacing:0.05em;" class="wixui-rich-text__text">I love experimenting with different cuisines and creating unique dishes in my kitchen.</span></p>
                                </div>
                                <div id="comp-kdfwjhm22" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhm22 wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_0 wixui-rich-text__text" style="text-align:center; font-size:60px;">03</p>
                                </div>
                                <div id="comp-kdh28m3c" class="HcOXKn SxM0TO QxJLC3 comp-kdh28m3c wixui-rich-text" data-testid="richTextElement">
                                    <h3 class="font_7 wixui-rich-text__text" style="text-align:center; font-size:22px;"><span style="letter-spacing:0.02em;" class="wixui-rich-text__text">Outdoor Exploration</span></h3>
                                </div>
                                <div id="comp-kdfwjhm42" class="HcOXKn SxM0TO QxJLC3 comp-kdfwjhm42 wixui-rich-text" data-testid="richTextElement">
                                    <p class="font_8 wixui-rich-text__text" style="line-height:1.9em; text-align:center; font-size:16px;"><span style="letter-spacing:0.05em;" class="wixui-rich-text__text">Exploring nature's wonders through hiking and outdoor activities brings me a sense of fulfillment and joy.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

